.nav-location {
  color: rgb(130, 130, 130);
  font-size: 1.5rem;
}
.nav-location span a {
  text-decoration: none;
  color: rgb(130, 130, 130);
  transition: 0.1s ease-in;
  text-transform: capitalize;
  /* background-color: green; */
}

.nav-location span a:hover {
  color: #e03546;
}
