.orderType {
  display: flex;
  margin: 20px 0 0;
  color: #6f6f6f;
}

.orderDetail {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-right: 50px;
  color: #6f6f6f;
}

.imgDiv {
  /* #fceec0 */
  background-color: #f8f8f8;
  padding: 15px;
  border-radius: 50%;
}

.imgDiv img {
  height: 35px;
}

.orderDetail h3 {
  font-size: 1.8rem;
  margin-left: 10px;
  letter-spacing: 1px;
}

.isActive {
  color: #e03546;
  border-bottom: 3px solid #ff7e8b;
  transition: 4s ease;
}

.isActiveImgDivOnline {
  background-color: #fceec0;
}
.isActiveDivDining {
  background-color: #e3f1f1;
}
.isActiveDivNight {
  background-color: #edf4ff;
}

.LinkTag {
  color: #6f6f6f;
  text-decoration: none;
}

/* @media screen and (min-width: 1025) {
}

@media screen and (min-width: 480) {
}
@media screen and (min-width: 320px) {
} */

@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
  .orderType {
    flex-direction: column;
  }
  .LinkTag {
    margin: 10px 0;
  }
}
@media screen and (max-width: 480px) {
}
