.main {
  width: 80%;
  max-width: 80%;
  margin: 0 auto;
}

.servicesNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  margin-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
}
.servicesNav h2 {
  font-style: italic;
  font-size: 4rem;
  letter-spacing: 3px;
}
.login-logout {
  transition: 0.2s ease-in-out;
}

.login-logout:hover {
  color: tomato;
}

.login-logout p {
  font-size: 1.8rem;
  margin-right: 20px;
  cursor: pointer;
}

.linkTag {
  text-decoration: none;
  color: black;
  cursor: pointer;
  font-size: 2rem;
}

.inputValue {
  font-size: 1.6rem;
  width: 100%;
  margin-left: 30px;
  padding: 15px;
  border-radius: 12px;
  border: 1px solid rgb(232, 232, 232);
  padding-left: 50px;
}
.inputValue:focus {
  border: none;
  outline: none;
  border: 1px solid rgb(232, 232, 232);
}

.user {
  /* background-color: green; */
  /* font-size: 24px; */
  position: relative;
  transition: 0.2s ease-in-out;
}
.user:hover {
  fill: tomato;
}
.cartSVG {
  width: 35px;
}
.cartItemCount {
  position: absolute;
  background-color: tomato;
  border-radius: 50%;
  font-size: 1.5rem;
  padding: 5px 10px;
  bottom: -15%;
  right: -10px;
}

/* login */
.loginDetails {
  margin-left: 20px;
  display: flex;
  align-items: center;
  width: 30%;
  font-size: 1rem;
}

.loginDetails img {
  width: 40px;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .main {
    width: 90%;
    max-width: 90%;
  }
  .servicesNav {
    padding-right: 0;
    padding-left: 0;
  }
}
@media screen and (max-width: 600px) {
  .loginDetails {
    width: 50%;
    justify-content: center;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 380px) {
  .loginDetails span {
    display: none;
  }
}
