.borderTop {
  border-top: 1px solid rgb(232, 232, 232);
}

.mainDiv {
  max-width: 70%;
  margin: 20px auto;
}

.imageBoxPDMain {
  display: flex;
  max-height: 350px;
}
.imageBoxPD-1 {
  width: 100%;
  margin: 5px;
  overflow: hidden;
  flex: 6;
}
.imageBoxPD-1 .img {
  transition: ease-in 0.3s;
  transform: scale(1);
}
.imageBoxPD-1:hover img {
  transform: scale(1.1);
}
.imageBoxPD-2 {
  flex: 2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 8px;
}
.imageBoxPD-2 .img {
  margin: 5px 0;
  width: 100%;
  height: 50%;
  object-fit: cover;
  transform: scale(1);
  transition: ease-in 0.3s;
}
.imageBoxPD-2 img:hover {
  transform: scale(1.1);
}
.imageBoxPD-3 {
  flex: 2;
  margin: 5px;
  overflow: hidden;
}
.imageBoxPD-3 .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: ease-in 0.3s;
}
.imageBoxPD-3:hover img {
  transform: scale(1.1);
}

.name-ratings {
  display: flex;
  justify-content: space-between;
}
.name-ratings h3 {
  font-size: 3.8rem;
  font-weight: 500;
}
.name-ratings .ratings {
  display: flex;
}

.ratingsMain {
  align-items: center;
  display: flex;
}

.ratingsDiv {
  background-color: green;
  padding: 5px 10px;
  border-radius: 8px;
  color: #fff;
  font-size: 1.8rem;
}

.ratingsMain .ratingDetail {
  margin: 0 20px 0 10px;
}
.ratingsMain .ratingDetail div {
  color: rgb(54, 54, 54);
  font-weight: 700;
  font-size: 1.4rem;
}
.ratingsMain .ratingDetail span {
  font-weight: 100;
  font-size: 1.2rem;
  padding-bottom: 2px;
  border-bottom: 0.5px dashed rgb(181, 181, 181);
}

.subHeading {
  color: rgb(130, 130, 130);
  font-size: 1.8rem;
  font-weight: 100;
  margin: 10px 0 5px;
}
.address {
  color: rgb(156, 156, 156);
  font-size: 1.6rem;
  font-weight: 100;
}
.timing {
  color: rgb(130, 130, 130);
  font-weight: 100;
  margin: 10px 0;
  font-size: 1.7rem;
}

.detailEnding {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.direction {
  color: black;
  border: 1px solid black;
  text-align: center;
  padding: 8px 10px;
  border-radius: 12px;
  margin: 0 40px 0 0;
  font-size: 1.8rem;
  transition: 0.2s ease-in;
}
.direction:hover {
  background-color: #f1555fe3;
  color: white;
  border: 1px solid #f1555fe3;
}

.add2Cart {
  background-color: #f1555f;
  color: white;
  border: navajowhite;
  cursor: pointer;
  transition: 0.2s ease-in;
}
.add2Cart:hover {
  background-color: #f1555fd2;
  border: none;
}

.tableBook {
  position: absolute;
  background-color: rgba(28, 28, 28, 0.85);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tableBookConformation {
  background-color: white;
  border-radius: 12px;
  padding: 40px 20px;
  font-size: 1.6rem;
}

.tableBookConformationBtns {
  display: flex;
  margin-top: 20px;
}

.tableBookConformationBtn {
  cursor: pointer;
  background-color: #f1555f;
  padding: 10px 20px;
  border-radius: 12px;
  margin-right: 20px;
  color: white;
}

.tableBookConformationBtnYes {
  background-color: white;
  color: black;
  border: 1px solid rgb(130, 130, 130);
}

.isTableBook {
  background-color: green;
  padding-left: 25px;
  padding-right: 25px;
  pointer-events: none;
}

/* @media screen and (min-width: 1025) {
}

@media screen and (min-width: 480) {
}
@media screen and (min-width: 320px) {
} */

@media screen and (max-width: 768px) {
  .mainDiv {
    max-width: 90%;
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .imageBoxPDMain {
    flex-direction: column;
    max-height: 0%;
  }
  .name-ratings {
    flex-direction: column;
  }
  .imageBoxPD-1 {
    margin: 0px;
  }
  .imageBoxPD-1 .img {
    height: 350px;
  }
  .ratingsMain {
    margin: 10px 0;
  }
  .detailEnding {
    flex-direction: column;
    align-items: start;
  }
  .direction {
    margin: 10px 0;
  }
}
@media screen and (max-width: 480px) {
  .imageBoxPD-1 .img {
    height: 300px;
  }
}
