.screenWidth {
  width: 70%;
  max-width: 70%;
  margin: 20px auto;
}

.foodCards {
  display: flex;
  flex-wrap: wrap;
}

.screenWidth h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

/* @media screen and (min-width: 1025) {
}

@media screen and (min-width: 480) {
}
@media screen and (min-width: 320px) {
} */

@media screen and (max-width: 768px) {
  .screenWidth {
    width: 90%;
    max-width: 90%;
  }
}
@media screen and (max-width: 667px) {
  .foodCards {
    flex-direction: column;
  }
}
